* {
	margin: 0;
	padding: 0;
    font-family: ap;
}

.container {
	background-color: rgb(81, 81, 81);
	height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.display {
    height: 800px;
    width: fit-content;
    display: flex;
    gap: 100px;
}



.gameboard{
    grid-area: 2/2;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    background-color: gray;
    display: grid;
    grid: repeat(10, 1fr) / repeat(10, 1fr)
    
}





.display1, .display2{
    height: 800px;
    width: 800px;
    display: grid;
    grid: 1fr 10fr / 1fr 10fr;
}

.display1{
    background-color: white;
    color: black;
}

.display2{
    background-color: black;
    color: white;
}


.yAxis {
    grid-area: 1/2/2/3;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 30px;
}

.xAxis {
    grid-area: 2/1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 30px;

}