* {
	margin: 0;
	padding: 0;
}

.container {
	background-color: rgb(81, 81, 81);
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 100px;
}

.info {
	background-color: black;
	width: 1500px;
	height: fit-content;
	display: grid;
	grid-column: 2fr 5fr 2fr;
	color: white;
    padding-bottom: 20px;
}

.info div {
	font-size: 1.3rem;
}

.yourShips {
	grid-column: 1/2;
}

.message {
	grid-column: 2/3;
	text-align: center;
}

.enemyShips {
	grid-column: 3/4;
	text-align: end;
}

.label {
    padding: 10px;
}
.message .content {
	height: 350px;
	overflow-y: auto;
    background-color: rgb(220, 220, 220);
    color: black;
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

.display {
	height: 800px;
	width: fit-content;
	display: flex;
	gap: 100px;
}

.gameboard {
	grid-area: 2/2;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	display: grid;
	grid: repeat(10, 1fr) / repeat(10, 1fr);
	gap: 2px;
}

.cell {
	background-color: rgb(238, 238, 238);
}

.gameboard div:hover {
	opacity: 0.85;
}

.gameboard1 .hasShip {
	background-color: rgb(0, 23, 200);
}

.gameboard2 .hasShip {
	background-color: rgb(255, 0, 0);
}

.gameboard .hidden {
	background-color: rgb(61, 61, 61);
}


.hit {
	background-color: rgb(182, 182, 182);
}

.display1,
.display2 {
	height: 800px;
	width: 800px;
	display: grid;
	grid: 1fr 10fr / 1fr 10fr;
}

.display1,
.display2 {
	background-color: black;
	color: rgb(255, 255, 255);
}

.yAxis {
	grid-area: 1/2/2/3;
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-size: 30px;
}

.xAxis {
	grid-area: 2/1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	font-size: 30px;
}
