* {
	margin: 0;
	padding: 0;
}

.container {
	background-color: rgb(81, 81, 81);
	height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.display {
    height: 800px;
    width: fit-content;
    display: flex;
    gap: 100px;
}

.board1, .board2{
    height: 800px;
    width: 800px;
    display: flex;
    grid
}

.board1{
    background-color: white;
}

.board2{
    background-color: black;
}